@tailwind base;
@tailwind components;
@tailwind utilities;
.main{
    display: flex;
    background-color: hsl(var(--nc));
    flex: 1;
}
.sidebar{
    display: flex;
}
.addNew{
    height: 100%;
    width: 100%;
}
#newProj{
    display: flex;
    flex-direction: column;
}
#sdSpacer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.inputSpacer{
    margin-right: 6px;
}
.newInput{
    display: flex;
    justify-content: space-around;
    gap:8px;
}
#taskArea{
    display: flex;
    flex-direction: column;
    padding: 2%;

}
.clipboard{
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: space-between;
}
.boardWrap{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}
.taskLabel{
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: left;
    text-align: left;
    align-content: start;
    gap: 8px;
    padding-bottom: 6%;
}
.fadey{
    opacity: 0;
    transition: opacity 2s ease-out;
}
.taskComplete{
    text-decoration: line-through;
    animation: strike 1s;
    opacity: 0.1;
}
@keyframes strike {
    from { 
        text-decoration-color: transparent;
        opacity: 1;
    }
    to { 
        text-decoration-color: auto; 
        opacity: 0;
    }
}
.mainSplash{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}